<html>
  <head>
    <title>Todosuke</title>
  </head>
  <body>
    <h1>TODOSUKE</h1>
    <p>
    一覧画面
    </p>
    <table>
     <tr>
      <td>
       <label for="status">ステータス</label>
      </td>
      <td>
       <label for="title">タイトルが入力されるよ！</label>
      </td>
      <td>
       <input type="button" value="編集" onclick="">
      </td>
     </tr>
     <tr>
      <td>
       <label for="status">ステータス</label>
      </td>
      <td>
       <label for="title">タイトルが入力されるよ！</label>
      </td>
      <td>
       <input type="button" value="編集" onclick="">
      </td>
     </tr>
    </table>
  </body>
</html>